# ignore generated modules/files
/node_modules/
/.vscode/
package-lock.json
/coverage/
!public/assets/
.env

# IDE stuff
.DS_Store
npm-debug.log
yarn-error.log
.idea

#cypress
/cypress/integration/examples

#build
/build/